@model IEnumerable<Equipamentos>
@{
    ViewData["Title"] = "Equipamentos";
}

<div class="panel panel-primary" style="margin-top:60px;opacity:0.8;">
    <div class="panel-heading">
        <h1 class=" panel-title">@ViewData["Title"]</h1>
    </div>


    <div class="panel-body" style="color:white;opacity:1;">
        @{
            foreach (Equipamentos eq in Model)
            {

                <div style="color:white;opacity:1;">
                    <div>
                        Nome: @eq.Nome
                        <br />
                        Descrição: @eq.Descrição
                    </div>
                </div>
                <br />
            }
        }
    </div>

</div>
