@{
    ViewData["Title"] = "Entorses";
}


<div class="panel panel-primary" style="margin: 20px;">

    <div class=" panel-title"><h1>@ViewData["Title"]</h1></div>


    <div class=" panel-body">

        <div style="float:left">

            <ul style="list-style-type:circle">

                <li><a asp-controler="PrimeirosSocorros" asp-action="ParagemCardiorespiratoria">Paragem Cardiorespiratoria</a></li>

                <li><a asp-controler="PrimeirosSocorros" asp-action="Desmaios">Desmaio</a></li>

                <li><a asp-controler="PrimeirosSocorros" asp-action="Ataque">Ataque</a></li>

                <li><a asp-controler="PrimeirosSocorros" asp-action="Hipoglicemia">Hipoglicemia</a></li>

                <li><a asp-controler="PrimeirosSocorros" asp-action="Entorses">Entorses</a></li>

                <li><a asp-controler="PrimeirosSocorros" asp-action="Hiportemia">Hiportemia</a></li>

            </ul>
        </div>
        <div style="float:right">

            <div class="panel panel-primary">

                <h1 style="color:white;">Entorses</h1>


            </div>

            <div class="panel panel-body">



            </div>

        </div>
    </div>

</div>
