@{
    ViewData["Title"] = "Paragem Cardiorespiratoria";
}
@{string url = ""; }
<div class="panel panel-primary" style="margin: 20px;">

    <div class=" panel-title"><h1>@ViewData["Title"]</h1></div>

    <div class=" panel-body">
            <ul style="list-style-type:circle">


                <li>Paragem Cardiorespiratoria</li>
                <li>Desmaio</li>
                <li>Ataque cardíaco</li>
                <li>Hipoglicemia</li>
                <li>Entorses</li>
                <li>Hipotermia</li>


            </ul>
        </div>

</div>