@{
    ViewData["Title"] = "Requisitos";
}

<div class="panel panel-primary" style="margin-top:60px;margin-bottom:10px;opacity:0.8;">
    <div class="panel-heading">
        <h1 class=" panel-title">@ViewData["Title"]</h1>
    </div>


    <div class="panel-body" style="color:white;opacity:1;">
        <a asp-action="Create" asp-controller="Requisitos">Criar Requisitos</a>
        <br />
        <a asp-action="Visualizar" asp-controller="Requisitos">Ver Requisitos</a>
    </div>

</div>
