@{
    ViewData["Title"] = "Sobre";
}
<div style="margin:20px;" class="panel panel-primary ">
    <div class="panel-heading">
        <h1 class=" panel-title">@ViewData["Title"]</h1>
    </div>
    <div class="panel-body" style="color:white;opacity:1;">
        <h4>@ViewData["Message"]</h4>

        <p>Trials4Health é uma aplicação para o telemovel desenvolvido pelo Instituto Politécnico da Guarda, Instituto Politécnico de Bragança e a Startup Kinematix Sense, que reúnem uma equipa interdisciplinar constituída por especialistas na área das Ciências da Computação, Ciências do Desporto, Engenharia Biomédica e na prática de desportos outdoor.</p>
        <p>Esta Aplicação foi desenvolvida com o objetivo de auxiliar o utilizador a percorrer trilhos na serra da Estrela, tal como a recomendação de trilhos de acordo com a condição física do utilizador, a indicação do esforço cardiaco e gasto energético, o impacto muscular e articular. </p>
        Também indica ao utilizador a sua localização, o trilho a percorrer, pontos de interesse que estejam próximos dele e a fauna da área.
    </div>
</div>