@{
    ViewData["Title"] = "Ataque";
}

<div class="panel panel-primary" style="margin: 20px;">

	<div class=" panel-body">

                <div style="float:left">

                    <ul style="list-style-type:circle">

                        <li><a asp-controler="Home" asp-action="ParagemCardiorespiratoria">Paragem Cardiorespiratoria</a></li>

                        <li><a asp-controler="Home" asp-action="Desmaios">Desmaios</a></li>

                        <li><a asp-controler="Home" asp-action="Ataque">Ataque</a></li>

                        <li><a asp-controler="Home" asp-action="Hipoglicemia">Hipoglicemia</a></li>

                        <li><a asp-controler="Home" asp-action="Entorses">Entorses</a></li>

                        <li><a asp-controler="Home" asp-action="Hiportemia">Hiportemia</a></li>

                    </ul> 
                </div>




		<div style="float:right">

                    <ul style="list-style-type:circle">

                        <li><a asp-controler="Home" asp-action="ParagemCardiorespiratoria">Paragem Cardiorespiratoria</a></li>

                        <li><a asp-controler="Home" asp-action="Desmaios">Desmaios</a></li>

                        <li><a asp-controler="Home" asp-action="Ataque">Ataque</a></li>

                        <li><a asp-controler="Home" asp-action="Hipoglicemia">Hipoglicemia</a></li>

                        <li><a asp-controler="Home" asp-action="Entorses">Entorses</a></li>

                        <li><a asp-controler="Home" asp-action="Hiportemia">Hiportemia</a></li>

                    </ul> 
                </div>
        </div>

	
    </div>
    
    