@{
    ViewData["Title"] = "Ataque";
}
<div class = "panel panel-info" style="margin-top:28px;">

    <div class = "panel-heading">

        <h1 class = "panel-title">@ViewData["Title"]</h1>
    
    </div>   
        <div class=" panel-body" style="vertical-align: middle;">
        
           <div style="float:left;">

                <li><a asp-controler="PrimeirosSocorros" asp-action="Entorses">Entorses</a></li>

                <li><a asp-controler="PrimeirosSocorros" asp-action="Desmaios">Desmaios</a></li>

                <li><a asp-controler="PrimeirosSocorros" asp-action="Hiportemia">Hiportemia</a></li>  

           </div>
            
        <div style="float:right; width: 80%;" >

            <div class="panel panel-body" >


                <div class = "panel-body">

                     <h5>

                    </h5>

                     <p> O que fazer:</p>

                    <li>Ajudar o paciente a colocar-se na posição que lhe for mais confortável</li>
                    <li>Desapertar-lhe a roupa</li>
                    <li>Não tentar levantá-lo nem transportá-lo;</li>
                    <li>Não lhe dar nada para beber</li>
                    <li>Permanecer calmo</li>
                    <li>Tentar traquilizar a vítima</li>
                    <li>Recordar, mentalemnte, as técnicas de reanimação cardiopulmonar para o caso de o paciente perder o pulso e a respiração parar.</li>

                </div>

            </div>
    
        </div>

    </div>

</div>
      