@{
    ViewData["Title"] = "Contact";
}



    <div class="panel panel-secondary" style="margin-top:2ex;"> <div class="panel-heading text-center">
            <h2>Contactos</h2>
        </div>
    <form asp-action="Contact" method="post">

   



		<div class="panel-body" >
		
			
    <div asp-validation-summary="All"></div> 

    <p>Localização: Guarda, Portugal</p>

        <p id="p1">E-mail: trails4health@gmail.com</p>

			
        <p>Telemovel: 969 696 966</p>



		
    <br/><br/>
			
            <p>Para qualquer duvida deixe uma mensagem</p>

			<input class="textBox" type="text" id="" placeholder="..." />
    <br/>
		<br/>

		</div>
        
		<div class="panel-footer text-center">



			<button class="btn btn-secondary">
                   Mandar Mensagem
    </button> </div>
        </form>
    </div>