@model IEnumerable<Cuidados>
@{
    ViewData["Title"] = "Cuidados";
}

<div class="panel panel-info" style="margin-top:28px;">

    <div class="panel-heading">

        <h1 class="panel-title">@ViewData["Title"]</h1>

    </div>
    <div class=" panel-body" style="vertical-align: middle;">
        <div style="float:right; width: 80%;">

            <div class="panel panel-body">


                <div class="panel-body">
                    @{


                        foreach (Cuidados cd in Model)
                        {

                            <div style="color:white;opacity:1;">
                                <div>
                                    Nome: @cd.Nome
                                </div>
                                <div>
                                    Descrição:
                                    <br />
                                    @cd.Descrição
                                </div>
                            </div>
                            <br />
                        }
                    }
                </div>

            </div>

        </div>

    </div>

</div>
