@model IEnumerable<SOS>
@{
    ViewData["Title"] = "Entorses";
}


<div class="panel panel-primary" style="margin-top:28px;margin-bottom:10px">
    <div class="panel-heading">
        <h1 class=" panel-title">@ViewData["Title"]</h1>
    </div>


    <div class="panel panel-body" style="color:white;opacity:1;">

        <div style="float:left;">
            <ul>
                <li><a asp-controler="PrimeirosSocorros" asp-action="Desmaios">Desmaios</a></li>

                <li><a asp-controler="PrimeirosSocorros" asp-action="Ataque">Ataque</a></li>

                <li><a asp-controler="PrimeirosSocorros" asp-action="Hipotermia">Hipotermia</a></li>
            </ul>
        </div>

        <div style="float:right; width: 80%;">

            <div class="panel panel-body">


                <div class="panel-body">
                    @{


                        foreach (SOS t in Model)
                        {
                            if (@t.Nome.Equals(ViewData["Title"]))
                            {
                                <div>
                                    <div>
                                        Descrição:
                                        <h5>@t.Descriçao</h5>
                                    </div>
                                    <div>
                                        O que fazer:
                                        @t.Tecnicas
                                    </div>
                                </div>



                            }
                        }
                    }
                </div>

            </div>

        </div>

    </div>

</div>
