@model IRepositorioTrails

@{
    ViewData["Title"] = "Estatisticas";
}

<body>
    <h3>Trilhos</h3>
    <p>Seleciona que estatisticas quer ver</p>
    
    <h4>Gerar estatisticas de um trilho</h4>
    <form asp-action="EstatisticaSelect" method="post">
        <div class="form-group">
            <label asp-for="Trilhos">Trilho:</label>
            <select asp-for="Trilhos" class="form-control">
                <option value="">Escolher Trilho</option>
                @foreach (Trilho t in Model.Trilhos)
                {
                    <option value=t>@t.Nome</option>

                }
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit Response</button>
        </form>
        

    <h4>Gerar estatisticas de um turista</h4>
    <form asp-action="EstatisticaSelect" method="post">
        <div class="form-group">
            <label asp-for="Turistas">Turista:</label>
            <select asp-for="Turistas" class="form-control">
                <option value="">Escolher Turista</option>
                @foreach (Turista t in Model.Turistas)
            {
                    <option value=t>@t.Nome</option>

                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">OK</button>
    </form>







</body>