@{
    ViewData["Title"] = "Hipotermia";
}
<div class = "panel panel-info" style="margin-top:28px;">

    <div class = "panel-heading">

        <h1 class = "panel-title">@ViewData["Title"]</h1>
    
    </div>   
        <div class=" panel-body" style="vertical-align: middle;">
        
           <div style="float:left;">

                <li><a asp-controler="PrimeirosSocorros" asp-action="Entorses">Entorses</a></li>

                <li><a asp-controler="PrimeirosSocorros" asp-action="Ataque">Ataque</a></li>

                <li><a asp-controler="PrimeirosSocorros" asp-action="Desmaios">Desmaios</a></li>  

           </div>
            
        <div style="float:right; width: 80%;" >

            <div class="panel panel-body" >


                <div class = "panel-body">


                <div class = "panel-body">

                    <h5>A hipotermia é uma situação que ocorre quando a temperatura do corpo baixa 
							para valores inferiores a 35ºC. O organismo deixa de consegui produzir 
							calor suficiente para manter os níveis de temperatura considerados normais e 
							torna-se impossível que ocorra o aquecimento espontâneo do corpo. A hipotermia 
							pode mesmo levar à morte.

                    </h5>

                     <p> O que fazer:</p>

                     <li>Retira-lhe as roupas frias ou molhadas</li>
                     <li>Limpa e cobre-a com roupas secas e quentes</li>
                     <li>Coloca-a em local abrigado e, se possível, aquece o ambiente</li>
                     <li>Assegura que a vítima é observada por um médico</li>


                </div>

            </div>
    
        </div>

    </div>

</div>
      