@{
    ViewData["Title"] = "Home Page";
}


<div>
    <center>
        <h2>Trials 4 Health</h2>
        <div id="myCarousel" class="carousel slide" data-wrap="true" data-ride="carousel" style="width:400px;height:400px;">

            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <script>window.getElementById('background').setValue('background-image', '~/images/imgcar');</script>
                </div>
                <div class="item">
                    <script>window.getElementById('background').setValue('background-image', '~/images/imgcar1');</script>
                </div>
                <div class="item">
                    <script>window.getElementById('background').setValue('background-image', '~/images/imgcar2');</script>
                </div>
                <div class="item">
                    <script>window.getElementById('background').setValue('background-image', '~/images/imgcar3');</script>
                </div>
                <div class="item">
                    <script>window.getElementById('background').setValue('background-image', '~/images/imgcar4');</script>
                </div>
                <div class="item">
                    <script>window.getElementById('background').setValue('background-image', '~/images/imgcar5');</script>
                </div>
            </div>

            <div style="position:absolute;top:40%;width:100%;">
                <a class="carousel-control left" style="position:absolute !important;" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i>
                </a>
                <a class="carousel-control right" style="position:absolute !important;" href="#myCarousel" data-slide="next">
                    <i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </center>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>  