@{
    ViewData["Title"] = "Login";
}

<form asp-action="Login" method="post">
    <div class="panel panel-primary" style="margin-top:2ex;">
        <div class="panel-heading">
            <h1 class=" panel-title">@ViewData["Title"]</h1>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <!--<label asp-for="Username">Username:</label>-->
                <!--<input asp-for="Username" class="form-control" />-->
                <label>Username:</label>
                <input class="form-control" />
            </div>

            <div class="form-group">
                <!--<label asp-for="Password">Password:</label>
                <!--<input asp-for="Password" class="form-control" />-->
                <label>Password:</label>
                <input class="form-control" type="password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn-success" />
                <input type="reset" value="Clear" class="btn-danger" />
            </div>
        </div>
    </div>
</form>
