@{
    ViewData["Title"] = "Primeiros Socorros";
}

<div class = "panel panel-info" style="margin-top:28px;">

	<div class = "panel-heading">

		<h1 class = "panel-title">@ViewData["Title"]</h1>

	</div>   

	<div class="panel panel-body" >

		<ul style="list-style-type:circle">


			<li><a asp-controler="Home" asp-action="Desmaios">Desmaios</a></li>


			<li><a asp-controler="Home" asp-action="Ataque">Ataque</a></li>


			<li><a asp-controler="Home" asp-action="Entorses">Entorses</a></li>


			<li><a asp-controler="Home" asp-action="Hiportemia">Hiportemia</a></li>

		</ul>       

	</div>

</div>
    