@{
    ViewData["Title"] = "Primeiros Socorros";
}

<div class="panel panel-primary" style="margin: 20px;">
    
    <div class=" panel-title"><h1>@ViewData["Title"]</h1></div>
        
        <div class=" panel-body">
                <div style="float:left">
                    <ul style="list-style-type:circle">


                        <li><a href="~/Views/PrimeirosSocorros/ParagemCardiorespiratoria.cshtml" target="sitesocorros">Paragem Cardiorespiratoria</a></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>


                    </ul>
                </div>
                <div style="float:right">
                    <iframe id="sitesocorros" frameborder="0"></iframe>
                </div>
            </div>

    </div>