@{
    ViewData["Title"] = "Primeiros Socorros";
}
@{string url = ""; }
<div class="panel panel-primary" style="margin: 20px;">
    
    <div class=" panel-title"><h1>@ViewData["Title"]</h1></div>
        
        <div class=" panel-body">
                <div style="float:left">
                    <ul style="list-style-type:circle">


                        <li><a onclick='@{url = "~/Views/PrimeirosSocorros/ParagemCardiorespiratoria.cshtml";}'>Paragem Cardiorespiratoria</a></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>


                    </ul>
                </div>
                <div style="float:right">
                    <iframe src="@url" frameborder="0"></iframe>
                </div>
            </div>

    </div>