@{
    ViewData["Title"] = "All data is valid";
}
<br />
<br />
<h2>Congratulations, all data is valid !!!</h2>

<a asp-action="Login" asp-controller="Home">Test login's regular expressions again</a>
