@model IRepositorioTrails
@{
    ViewData["Title"] = "EstatisticasSelect";
}

<h2>EstatisticasSelect</h2>


    <div class="panel-body ">

            <p>Por favor Selecione o Trilho que quer ver as estatísticas</p>
               
                @foreach (Trilho t in Model.Trilhos)
                {
                    
                    <p>
                        
                        @t.Nome
                        <a asp-action="Trilho" asp-route-id="@t.TrilhoId">Estatisticas</a>
                    </p>

                    @*<p>@t.Nome  <button type="submit" value=@t.Id class="btn btn-primary">Estatisticas</button></p>*@


                    }

</div>

    <div class="panel-footer">
        <button type="submit" class="btn btn-primary">Continuar</button>

    </div>
