@model IRepositorioTrails
@{
    ViewData["Title"] = "Estatisticas";
}

<h2>EstatisticasSelect</h2>


<div class="panel-body " style="opacity:1">

        <p>Por favor Selecione o Trilho que quer ver as estatísticas</p>
               
            @foreach (Trilho t in Model.Trilhos)
            {
                    
                <p>
                        
                    @t.Nome: 
                    <a asp-action="Trilho" asp-route-id="@t.ID_Trilho" class="btn btn-primary" style="opacity:1;color:white;">Estatisticas</a>
                </p>

                @*<p>@t.Nome  <button type="submit" value=@t.Id class="btn btn-primary">Estatisticas</button></p>*@


            }

</div>