@model IEnumerable<Cuidados>
@{
    ViewData["Title"] = "Cuidados";
}


<div class="panel panel-primary" style="margin-top:60px;opacity:0.8;">
    <div class="panel-heading">
        <h1 class=" panel-title">@ViewData["Title"]</h1>
    </div>


    <div class="panel-body" style="color:white;opacity:1;">
        @{
            foreach (Cuidados cd in Model)
            {

                <div style="color:white;opacity:1;">
                    <div>
                        Nome: @cd.Nome
                    </div>
                    <div>
                        Descrição:
                        <br />
                        @cd.Descrição
                    </div>
                </div>
                <br />
            }
        }
    </div>

</div>
